APP_HOST=0.0.0.0
APP_PORT=8080
APP_TIMEZONE=Europe/Berlin

DB_PATH=/app/data/srbase.db
ALLOWED_LANGS=en,de

TG_TOKEN=your_tg_bot_token
TG_ADMIN=your_tg_chat_id

GEMINI_API_KEY=your_gemini_api_key
GEMINI_MODEL=gemini-3.5-flash-lite
